@import 'import';

img {
    max-width: 100%;
}

.bannerImg {
    position: relative;
    img {
        width: 100%;
    }
    .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1{
            font-size: rem(90px);
            color: #fff;
            letter-spacing: -2px;
            margin-bottom: rem(18px);
        }
        p{
            font-size: rem(18px);
            color: #A8A8A8;
            margin-bottom: rem(50px);
            span{
                color: #fff;
            }
        }
        ul{
            list-style: none;
            font-size: rem(30px);
            li{
                display: inline-block;
                margin: 0 rem(15px);
                &:hover{
                    transition: all 0.5s ease;
                    transform: rotate(360deg);
                    opacity: .75;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}
// section {
//     height: 100vh;
//     width: 100%;
// }